{% extends "base.html" %}
{% block title %}Gorkon Downloader{% endblock %}
{% block content %}
<h1>Gorkon Downloader</h1>
<p>Youtube | Vimeo | Blip.tv | Soundcloud</p>
<form method="POST" action="{{ url_for('index') }}">
    {{ form.csrf_token }}
    {% for subfield in form.convert %}
        <span>{{ subfield }} {{ subfield.label }}&nbsp;&nbsp;</span>
    {% endfor %}
   <br/>
    {{ form.video_url(placeholder='Paste URL here', autofocus=True)|safe }}
    <input type="submit" value="Download" />
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
      <ul class="errors">
          <li><strong>Error!</strong> {{error}}</li>
      </ul>
      {% endfor %}
    {% endfor %}
</form>
{% if task %}
    <script type='x-application/json' id='task-info'>
      { "id": "{{ task.task_id }}", "folder": "{{ task.folder }}" }
    </script>
    <div id='task'>
        <br/>
        <span>
            <img src="/static/img/loading.gif" /> Wow, hold on!
        </span>
    </div>
    {% raw %}
    <script type='text/x-handlebars-template' id='completed-template'>
        <br/>
        <span class="{{class}}">{{message}}</span>
        {{#if model.succeded}}
        <a href="{{link}}">Click to download</a>
        {{/if}}
    </script>
    {% endraw %}
{% endif %}
{% endblock %}
