{% extends "base.html" %}
{% block title %}Gorkon Downloader{% endblock %}
{% block content %}
<h1>Gorkon Downloader</h1>
<p>Youtube | Vimeo | Blip.tv | Soundcloud</p>
<form method="POST" action="{{ url_for('index') }}">
    {{ form.csrf_token }}
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <ul class="errors">
            <li><strong>Error!</strong> {{error}}</li>
        </ul>
        {% endfor %}
    {% endfor %}
    {{ form.video_url(placeholder=form.video_url.label.text, autofocus=True)|safe }}
    <input type="submit" value="Download" />
</form>
{% if task %}
    <script type='x-application/json' id='task-info'>{ "task_id": "{{ task.id }}" }</script>
    <div id='task'>
        <br/>
        <span>
            <img src="/static/img/loading.gif" /> Wow, hold on!
        </span>
    </div>
    {% raw %}
    <script type='text/x-handlebars-template' id='completed-template'>
        <br/>
        <span class="{{class}}">{{message}}</span>
        {{#if model.succeded}}
        <a href="{{link}}">Click to download</a>
        {{/if}}
    </script>
    {% endraw %}
{% endif %}
{% endblock %}
